@use "common";

.top-img {
  width: 100%;
}

.img {
  width: calc(100% - 20px * 2);
  margin: 0 20px;
}

.price-container {
  display: flex;
  justify-content: space-between;
  width: 220px;
}

.logo {
  filter: brightness(0) saturate(100%) invert(85%) sepia(22%) saturate(7459%) hue-rotate(195deg) brightness(105%) contrast(124%);
}

#food {
  .price-container {
    position: relative;
    $dot_size: 15px;
    padding-left: $dot_size;

    &::before {
      content: '・';
      display: block;
      position: absolute;
      width: $dot_size;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      font-size: 25px;
    }
  }

  .shop-container {
    margin-bottom: 30px;
  }

  .nested-price-container {
    display: flex;
    justify-content: space-between;
    width: 220px;
    margin-left: 10px;

    &:not(:has(span+span)) {
      justify-content: center;
    }

  }
}

#goods {

  ul {
    list-style-type: decimal;
  }

  li {
    margin: 25px 30px;
  }

  .option-container {
    margin-top: 5px;

    div:first-of-type {
      font-size: 17px;
    }
  }
}

.goods-img {
  max-width: 1000px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}