@use "common";

.top-img {
  max-height: 600px;
  display: block;
  margin: auto;
}

#theme-container {
  padding: 50px 0 0;
}

#theme-head {

  .before, .after {
    display: flex;
    height: 2px;
    width: 60px;
    background-color: black;
    align-items: center;
  }

  .before {
    margin-right: 20px;
    justify-content: start;
  }

  .after {
    margin-left: 20px;
    justify-content: end;
  }

  .before::before, .after::after {
    content: "";
    display: block;
    height: 5px;
    width: 5px;
    background-color: black;
    transform: rotateZ(45deg);
  }

  .before::before {
    left: 0;
  }

  .after::after {
    right: 0;
  }
}

#theme-container {

  p {
    margin: 0 0 10px;
  }

  #theme-word {
    color: map-get(common.$colors, red);
    margin: 20px 0;
    font-size: 60px;
  }
}

#links-container {

  color: white;

  * {
    font-weight: bold;
  }

  p {
    margin: 0;
  }

  .button-container {
    margin: 0 !important;
    padding: 10px 0;

    &:last-child {
      display: grid;
      grid-template-columns: 15% auto;
      grid-column-gap: 20px;
      justify-content: center;
      align-items: center;

      img {
        grid-row: 1/3;
        grid-column: 1;
        width: 100%;
      }

      p {
        margin: 3px 0;
      }

      p:last-of-type {
        align-self: start;
      }
    }
  }

  img {
    width: 50%;
    margin: -5px 0 0;
  }
}

#information {

  .information-content {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    margin-left: 45px !important;

    .information-date {
      margin-right: 20px;
      justify-content: space-between;
    }

  }

}

#access {

  .embbed-map-container {
    margin: 10px 35px;
    height: 300px;
  }

}

