@charset "UTF-8";
.back-red {
  background-color: #FF5555;
}

.back-blue {
  background-color: #3D4EF4;
}

.back-mint {
  background-color: #1AD39C;
}

.back-green {
  background-color: #3AAC13;
}

.back-yellow {
  background-color: #FFC315;
}

.back-sky {
  background-color: #7ACCFF;
}

.back-purple {
  background-color: #B159F7;
}

.container-red {
  background-color: #FFE0E0;
}

.container-blue {
  background-color: #B9C0FB;
}

.container-mint {
  background-color: #D1F6EB;
}

.container-green {
  background-color: #D8EED0;
}

.container-yellow {
  background-color: #FFF3D0;
}

.container-sky {
  background-color: #DFF1FC;
}

.container-purple {
  background-color: #EFDEFD;
}

.footer {
  margin: 0 !important;
  padding: 10px !important;
  text-align: center;
  font-size: small;
}

body > div {
  margin: 0 0 20px !important;
  padding: 50px 0 10px !important;
}
body > div > p {
  margin: 0 20px 5px;
}
body > div > h2 {
  margin-bottom: 45px;
}

.button-container {
  margin: 30px 50px;
  position: relative;
  padding: 15px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: large;
}
.button-container:hover {
  opacity: 0.8;
}
.button-container::after {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  width: 20px;
  right: 10px;
  bottom: 10px;
  background-color: white;
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
}
.button-container p {
  margin: 0;
}
.button-container a {
  color: white;
  text-decoration: none;
}

.bullet-container > * {
  margin-left: 35px;
}
.bullet-container li {
  margin: 10px 0 10px -10px;
}
.bullet-container .sub-bullet {
  position: relative;
  padding-left: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
.bullet-container .sub-bullet::before {
  content: "―";
  display: block;
  position: absolute;
  font-size: 18px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.bullet-container .sub-bullet ~ .sub-bullet-content {
  padding-left: 18px;
}
.bullet-container .sub-bullet-content + .sub-bullet {
  margin-top: 20px;
}
.bullet-container p {
  margin-bottom: 3px;
}
.bullet-container > h5 {
  position: relative;
  padding-left: 20px;
  font-size: large;
  font-weight: bold;
  margin-bottom: 15px;
  margin-left: 25px;
}
.bullet-container > h5::before {
  content: "◆";
  display: block;
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.bullet-container > h5:not(:first-of-type) {
  margin-top: 45px;
}
.bullet-container > h6 {
  padding: 20px 0 3px;
  font-size: 17px;
}

.top-img {
  width: 100%;
}

.img {
  width: calc(100% - 40px);
  margin: 0 20px;
}

.price-container {
  display: flex;
  justify-content: space-between;
  width: 220px;
}

#food .price-container {
  position: relative;
  padding-left: 15px;
}
#food .price-container::before {
  content: "・";
  display: block;
  position: absolute;
  width: 15px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  font-size: 25px;
}

#goods ul {
  list-style-type: decimal;
}
#goods li {
  margin: 25px 30px;
}
#goods .option-container {
  margin-top: 5px;
}
#goods .option-container div:first-of-type {
  font-size: 17px;
}