-
  const links = [
    {
      id: 'access',
      page: '',
      body: 'アクセス',
      color: 'red',
    },
    {
      id: 'map',
      page: 'page1.html',
      body: '校内マップ',
      color: 'blue',
    },
    {
      id: 'goods',
      page: 'page1.html',
      body: '物販情報',
      color: 'mint',
    },
    {
      id: 'stage',
      page: 'page2.html',
      body: 'ステージ情報',
      color: 'green',
    },
    {
      id: 'food',
      page: 'page1.html',
      body: '飲食物情報',
      color: 'yellow',
    },
    {
      id: 'event',
      page: 'page2.html',
      body: 'イベント情報',
      color: 'sky',
    },
    {
      id: 'clubs',
      page: 'page3.html',
      head: 'club activity',
      body: '各部活紹介',
      color: 'purple',
    }
  ]
