-
  const stage = [
    {
      time: "9:00～9:20",
      duration_minute: 20,
      title: "オープニング",
    },
    {
      time: "9:30～9:55",
      duration_minute: 25,
      title: "J2",
    },
  ]