-
  const items = {
    drink: [
      {
        name: '高砂ラムネ',
        price: '120円'
      },
      {
        name: 'お～いお茶',
        price: '120円',
      },
      {
        name: 'カルピス',
        price: '120円',
      },
      {
        name: 'オレンジ',
        price: '120円',
      },
      {
        name: 'コーラ',
        price: '120円',
      },
    ],
    cafeteria: [
      {
        name: 'そば',
        price: '200円',
      },
      {
        name: 'うどん',
        price: '円200',
      },
      {
        name: '冷やし担々麺',
        price: '300円',
      },
      {
        name: 'そばカレー',
        price: '200円',
      },
    ],
    take_out: [
      {
        name: 'カツ丼',
        price: '300円',
      },
      {
        name: 'オムライス',
        price: '300円',
      },
      {
        name: '穴子弁当',
        price: '700円',
      },
      {
        name: '白陵弁当',
        price: '1000円',
      },
    ],
    car: [
      {
        shop_name: 'MOGMOGベビーカステラ専門店',
        items: [
          {
            price: '15個500円',
          },
          {
            price: '30個1000円',
          },
          {
            price: '45個1000円',
          }
        ]
      },
      {
        shop_name: 'サニーズ デザートクレープ',
        items: [
          {
            price: '約￥500～￥700',
          }
        ],
      },
      {
        shop_name: '牛すじ食堂',
        items: [
          {
            name: 'ロングポテト',
            price: '塩 ￥600',
          },
          {
            price: 'チーズ ￥700',
          },
          {
            price: '明太マヨ ￥400',
          }
        ]
      },
      {
        shop_name: 'NICONICO CURRY',
        items: [
          {
            name: 'ニコニコカレー',
            price: '￥400',
          },
          {
            name: 'チーズカレー',
            price: '￥600',
          },
          {
            name: '唐揚げカレー',
            price: '￥600',
          },
          {
            name: '唐揚げ＆チーズ',
            price: '￥700',
          },
          {
            name: '唐揚げBENTO',
            price: '￥600',
          },
          {
            name: '特製唐揚げ',
            price: '7peace ￥500',
          },
          {
            price: '15peace ￥1000',
          },
          {
            name: '大盛り',
            price: '+￥100',
          },
          {
            name: '辛さUP 1-10',
            price: '+￥100',
          },
          {
            name: '唐揚げ追加',
            price: '+￥100',
          }
        ]
      },
    ],
    goods: [
      {
        name: "ドクタークリップ",
        unit: "本",
        price: 600,
        options: [
          {
            id: "カラー",
            value: "ブラック×ブルー、ラベンダー、ミントグリーン",
          },
        ]
      },
      {
        name: "ドクタークリップ",
        unit: "本",
        price: 600,
        options: [
          {
            id: "カラー",
            value: "ブラック×ブルー、ラベンダー、ミントグリーン",
          },
        ]
      },
      {
        name: "ドクタークリップ",
        unit: "本",
        price: 600,
        options: [
          {
            id: "カラー",
            value: "ブラック×ブルー、ラベンダー、ミントグリーン",
          },
        ]
      },
      {
        name: "ドクタークリップ",
        unit: "本",
        price: 600,
        options: [
          {
            id: "カラー",
            value: "ブラック×ブルー、ラベンダー、ミントグリーン",
          },
        ]
      },
      {
        name: "ドクタークリップ",
        unit: "本",
        price: 600,
        options: [
          {
            id: "カラー",
            value: "ブラック×ブルー、ラベンダー、ミントグリーン",
          },
        ]
      },
      {
        name: "ドクタークリップ",
        unit: "本",
        price: 600,
        options: [
          {
            id: "カラー",
            value: "ブラック×ブルー、ラベンダー、ミントグリーン",
          },
        ]
      },
      {
        name: "ドクタークリップ",
        unit: "本",
        price: 600,
        options: [
          {
            id: "カラー",
            value: "ブラック×ブルー、ラベンダー、ミントグリーン",
          },
        ]
      },
    ]
  }