-
  const items = {
    drink: [
      {
        name: '高砂ラムネ',
        price: '120円'
      },
      {
        name: 'お～いお茶',
        price: '120円',
      },
      {
        name: 'カルピス',
        price: '120円',
      },
      {
        name: 'なっちゃんオレンジ',
        price: '120円',
      },
      {
        name: 'コカコーラ',
        price: '120円',
      },
    ],
    cafeteria: [
      {
        name: 'そば',
        price: '200円',
      },
      {
        name: 'うどん',
        price: '200円',
      },
      {
        name: '冷やし担々麺',
        price: '300円',
      },
      {
        name: 'そばカレー',
        price: '200円',
      },
    ],
    take_out: [
      {
        name: 'カツ丼',
        price: '300円',
      },
      {
        name: 'オムライス',
        price: '300円',
      },
      {
        name: '穴子弁当',
        price: '700円',
      },
      {
        name: '白陵弁当',
        price: '1000円',
      },
    ],
    car: [
      {
        shop_name: 'MOGMOGベビーカステラ専門店',
        items: [
          {
            name: 'プレーン',
          },
          {
            price: '15個500円',
          },
          {
            price: '30個1000円',
          },
          {
            price: '45個1500円',
          },
          {
            name: 'チョコ・カスタード・チーズ',
          },
          {
            name: '抹茶・コーヒー',
          },
          {
            price: '15個600円',
          },
          {
            price: '30個1200円',
          },
          {
            price: '45個1800円',
          }
        ]
      },
      {
        shop_name: 'サニーズ デザートクレープ',
        items: [
          {
            price: '約500円～700円',
          }
        ],
      },
      {
        shop_name: '牛すじ食堂',
        items: [
          {
            name: 'ロングポテト',
            price: '塩 600円',
          },
          {
            price: 'チーズ 700円',
          },
          {
            price: '明太マヨ 400円',
          }
        ]
      },
      {
        shop_name: 'NICONICO CURRY',
        items: [
          {
            name: 'ニコニコカレー',
            price: '400円',
          },
          {
            name: 'チーズカレー',
            price: '600円',
          },
          {
            name: '唐揚げカレー',
            price: '600円',
          },
          {
            name: '唐揚げ＆チーズ',
            price: '700円',
          },
          {
            name: '唐揚げBENTO',
            price: '600円',
          },
          {
            name: '特製唐揚げ',
            price: '7ピース　 500円',
          },
          {
            price: '15ピース 1000円',
          },
          {
            name: '大盛り',
            price: '+100円',
          },
          {
            name: '辛さUP 1-10',
            price: '+100円',
          },
          {
            name: '唐揚げ追加',
            price: '+100円',
          },
          {
            name: '瓶コーラ',
            price: '200円',
          }
        ]
      },
    ],
    goods: [
      {
        name: "ジェットストリーム",
        price: 1200,
      },
      {
        name: "蛍光ペン",
        price: 350,
      },
      {
        name: "合格鉛筆(2本セット)",
        price: 150,
      },
      {
        name: "制服キーホルダー",
        price: 750,
      },
      {
        name: "白陵コロロ",
        price: 300,
      },
      {
        name: "白陵e-maのど飴",
        price: 350,
      },
      {
        name: "白陵Tシャツ",
        price: 600,
      },
    ]
  }