-
  const kinento = [
    {
      time: "9:00～9:20",
      duration_minute: 20,
      title: "オープニング",
    },
    {
      time: "9:30～9:55",
      duration_minute: 25,
      title: "中2 学年演技(合唱)",
    },
    {
      time: "10:05～10:30",
      duration_minute: 25,
      title: "中1 学年演技(合唱)",
    },
    {
      time: "10:40～10:55",
      duration_minute: 15,
      title: "Belcanto(アンサンブル)",
    },
    {
      time: "11:05～11:35",
      duration_minute: 30,
      title: "書道部",
    },
    {
      time: "11:45～12:05",
      duration_minute: 20,
      title: "吹奏楽部 1st",
    },
    {
      time: "12:55～13:10",
      duration_minute: 15,
      title: "Buzzz…(バンド)",
    },
    {
      time: "13:20～13:35",
      duration_minute: 15,
      title: "sons…(バンド)",
    },
    {
      time: "13:45～14:00",
      duration_minute: 15,
      title: "RHYHEM(ダンス)",
    },
    {
      time: "14:10～13:50",
      duration_minute: 40,
      title: "吹奏楽部2nd",
    },
    {
      time: "15:00～15:20",
      duration_minute: 20,
      title: "エンディング",
    },
  ]
-
  const kaikan = [
    {
      time: "10:05～10:35",
      duration_minute: 30,
      title: "高1生による探究発表",
    },
    {
      time: "10:50～11:30",
      duration_minute: 40,
      title: "高2生による探究発表",
    },
    {
      time: "11:45～12:15",
      duration_minute: 30,
      title: "中2生による探究発表",
    },
    {
      time: "12:20～12:40",
      duration_minute: 20,
      title: "昼休憩　OP動画を流しています",
    },
    {
      time: "12:40～13:10",
      duration_minute: 30,
      title: "卒業生公園「学生生活での取り組みから得られた成長」",
    },
    {
      time: "13:25～13:40",
      duration_minute: 15,
      title: "中3生によるEnglish Contest発表",
    },
    {
      time: "13:55～14:10",
      duration_minute: 15,
      title: "高1生によるEnglish Contest発表",
    },
  ]