extends common/_layout

block append head
  title 文化祭
  link(href="./assets/css/page3.css" rel="stylesheet")

block content
  include _page3_data
  img.top-img(class=["img-fluid", "logo"] src="./assets/img/top_back.png")
  #clubs(class="container-purple")
    h1(class=["text-center", "display-4", "fw-bold"]) Club Activity
    h2(class=["text-center"]) 各文化部紹介
    .bullet-container
      each club in clubs
        h5 #{club.name}
        p.club-content !{club.content.replaceAll('\n', '<br>')}
  .button-container(class=["back-purple"])
    a(href="./" class=["stretched-link"]) トップページへ